<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> DP - Warehouse System </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <ion-item>
      <ion-label>
        <ion-note>Connect to Warehouse System!</ion-note>
      </ion-label>
      <ion-button color="primary" (click)="establishConnection()"
        >Connect</ion-button
      >
    </ion-item>
  </div>
  <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
    <ng-template>
      <ion-content class="ion-padding">{{popupMessage}}</ion-content>
    </ng-template>
  </ion-popover>
</ion-content>
